.hero {
    min-height: 70vh;
    background-color: #313411;
    background-image: url('assets/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
}

    .hero-content {
        // border: 3px solid white;
        border-radius: $g-ml;
        background: rgba($dark-grey, 0.45);
        color: white;
        padding: $g-l 2*$g-l;
        text-align: center;
    }
        .hero-title {
            font-size: 2*$g-l;
            line-height: 2*$g-l + $g-s;
            @include sans;
        }

        .hero-sub-title {
            font-size: $g-ml;
            line-height: $g-ml + $g-s;
            color: lighten($soft-grey, 20);
        }

@media screen and (max-width : 600px) {
    .hero-content {
        padding: $g-m $g-l;
        width: 100%;
        border-radius: 0;
    }
    .hero-title {
        font-size: 36px;
        line-height: 36px + $g-s;
    }
    .hero-sub-title {
        font-size: 16px;
        line-height: 16px + $g-s;
        color: lighten($soft-grey, 20);
    }
}
