.landing-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: $g-s $g-m;
    @include flexbox;
    @include align-items(center);
    background: white;
}

@supports (position: sticky) {
    .landing-nav {
        position: sticky;
    }
    .content {
        padding-top: 0;
    }
}
    .landing-nav-brand {
        @include flexbox;
        @include align-items(center);
    }
        .landing-nav-brand-text {
            margin-left: $g-s;
            color: $dark-grey;
            text-transform: uppercase;
            font-size: 16px;
        }

        $landing-nav-logo-height: 30px;
        .landing-nav-logo {
            height: $landing-nav-logo-height;
            width: $landing-nav-logo-height*$logo-ratio;
        }

    .landing-nav-content {
        margin-left: auto;
        @include flexbox;
        @include align-items(center);
    }
        .landing-nav-item {
            @include sans;
            text-transform: uppercase;
            margin: 0 $g-sm;
            a {
                color: $soft-grey;
                font-size: 13px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

.landing-nav-mobile-button {
    display: none;
    margin-left: auto;
    cursor: pointer;
    background-image: url('assets/hamburguer.svg');
    background-color: white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    width: 28px;
    &:hover {
        opacity: 0.6;
    }
}
.landing-nav-mobile-button-checkbox {
    display: none;
}

.landing-nav-mobile-button-checkbox:checked ~ .landing-nav-content {
    display: block;
}

@media screen and (max-width : 760px){
    .landing-nav-content {
        display: none;
        position: absolute;
        z-index: 5;
        top: $header-height;
        right: 0;
        background: white;
        box-shadow: 0 4px 4px rgba(black, 0.2);
        .landing-nav-item {
            margin: 0;
            a {
                text-decoration: none;
                display: block;
                padding: $g-m $g-ml;
            }
            &:hover {
                background-color: lighten($soft-grey, 20);
                a {
                    color: $dark-grey;
                }
            }
        }
    }
    .landing-nav-mobile-button {
        display:block;
        position: relative;
        z-index: 10;
    }
}
