.content {
    padding-top: $header-height;
}

.section {
    width: $content-width;
    max-width: $content-width;
    margin: 0 auto;
    padding-top: 2*$g-l;
}
    .section-title {
        font-size: $g-l;
        line-height: $g-l + $g-s;
        margin-bottom: $g-ml;
    }

    .section-content {
        font-size: 16px;
        line-height: 24px;

        p {
            margin-bottom: $g-sm;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .section-sub-title {
        font-size: 20px;
        line-height: 20px + $g-s;
        margin-bottom: $g-m;
        margin-top: $g-ml;
        color: $soft-grey;
    }
